DOCUMENTS_DIR=documents
VECTORSTORE_DB_DIR=database

EMBEDDINGS_MODEL_NAME=

LOCAL_MODEL_TYPE=GPT4All
LOCAL_MODEL_PATH=models/ggml-gpt4all-j-v1.3-groovy.bin
EMBEDDINGS_MODEL_NAME=all-MiniLM-L6-v2

OPENAI_API_TYPE=
OPENAI_API_BASE=
OPENAI_API_VERSION=
OPENAI_API_KEY=
OPENAI_API_DEPLOYMENT_NAME=
OPENAI_API_MODEL_NAME=
OPENAI_EMBEDDINGS_MODEL_NAME=

MODEL_MAX_TOKENS=1000
MODEL_N_BATCH=20
TARGET_SOURCES=5